.brief{
    width:100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

}

.brief .left{
    text-align: left;
    margin: auto;
    padding: 0.5rem;
    max-width: 750px;
}

.brief .left p{
    font-size: 2rem;
    margin: 0.8rem 0;
}
.brief .left ul li{

   text-align: left;
   font-size: large;
   list-style: disc;
   color: pink;
}

.brief .left h1{
    font-size: 4rem;
}
.brief .left h3{
    font-size: 2rem;
    padding: 6px 0;
    color: #fff;
}
button span{
    color: #fff;
    font-size: 1.8rem;
}
.brief .right{
    max-width: 500px;
    
}
.brief button{
    background-color: #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
button .toeng {
    display: none;
  }
  
  button:hover .translate {
    display: none;
  }
  
  button:hover .toeng {
    display: inline;
  }

  .left-img{
    padding-top: 1rem;
  border-radius:"25px";
  text-align: center;

    
}

.right .img-container{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    align-items: center;
    text-align: center;

}

.left h2{
    color: #fff;
    text-align: center;

}
 .top img{
   
    margin: 2rem 10%;
    border: 1px solid #333;
    border-radius:25%;
    text-align: center;
    align-items: center;
    max-width: 80%;
    height: 80%;

}


/* .right .top{
    grid-column:1/span 8 ;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
} */

.right .bottom{
    grid-column:4/ -1 ;
    grid-row: 1;
    z-index: 5;
}
@media screen and (max-width:740px){
    .img-stack{
        display: none;
    
    }
    .brief .left p{
        font-size: 1.5rem;
       
    }
    .brief .left h1{
        font-size: 3rem;
    }

}