.hero1-img{
    width:100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    position: relative;
}
.hero1-img::before{
   
    content:"" ;
    /* background: url("../assets/hero.jpg"); */
    background: url("https://media.giphy.com/media/dWesBcTLavkZuG35MI/giphy.gif") no-repeat center ;
    /* background-size: cover; */
    background-position: center top;
    height: 100vh;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    position: absolute;
    min-width: inherit;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -1;
}

/* .heading {
    width: 100%;
    height: 100%;
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.heading h1{
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
.heading h3{
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.heading p{
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width:640px)  {
    .hero1-img h1{
        font-size: 2rem;
    
    }
    .heading h1{
        font-size: 2rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    
    }
    .heading h3{
        font-size: 2rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    
    }
    
    .heading p{
        font-size: 2rem;
       
    }
/* 
    @media screen and (min-height:700) and (orientation: landscape){
        .hero1-img{
              height: 110vh;
            
        }
        .hero1-img::before{
            height: 130%;
        }
        p{
            display: none;
        }
    }  */
    
    
    
}