.mask{
    width:100%;
    height: 100vh;
    position: relative;
}

.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width:100%; 
    height:120%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
}

.hero{
    height: 100%;
    width:100%;
}

.hero .content{
    height:absolute;
    transform: translate(0,-120%);
    top:50%;
    left:50%;
    text-align: center;
}

.hero .content h1{
    font-size: 4rem ;
    padding : 0.6rem 0 1.5rem;
       
}

.hero .content p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;  
}

.content .btn{
    margin: 1rem 0.2rem;

}
/* 
.himg Link{
    max-width: fit-content;
} */

.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn-light {
    /* background: rgba(255, 255, 255, 0.2); */
    background: transparent;
    color: #fff;
  }
  
  .btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
  }
  

@media screen and (max-width:640px){
    
    .into-img{
        width: 100%;
        height: 690px;
        /* background-size: cover;
        background-position: center;
        object-fit: cover; */
    }
    .mask::after{
        /* content: "";
        width:100%; */
        height:98%;
        /* position:absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.8; */
    }

    .hero .content h1{
        font-size: 3rem ;
           
    }
    
    .hero .content p{
        font-size: 1.4rem;
        
    }
    

 
}










